.App{
    padding: 0;
    margin: 0;
    margin: 0px auto;
    background-color:#FF452B ;
    color: white;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF452B;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    transition: 0.6s;
    padding: 30px 100px;
}
header.sti{
    padding: 5px 100px;
    background-color: #ffffff;
    color:#FF452B ;
}

.logo{
    width: 50%;
    align-items: center;
}
.content{
    display: flex;
    top: 60px;
}
.SideBar{
    width: 20%;
    background-color:#FF452B ;
}
.characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
}
.list{
    width: 80%;
}